version: 2
updates:

  - package-ecosystem: "uv"
    directory: "/"
    allow:
      - dependency-type: "all"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "python"
    commit-message:
      prefix: "chore(deps)"
    open-pull-requests-limit: 10
    cooldown:
      default-days: 4

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "github-actions"
    commit-message:
      prefix: "chore(ci)"
    cooldown:
      default-days: 4
