name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 6 * * MON'  # Every Monday morning

jobs:
  test:
    name: 'Test'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: ['3.14']
        node-version: ['24.x']
        mbtest-version: ['2.9']
        os: ['ubuntu-latest']

    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python }}
      - name: Install mbtest ${{ matrix.mbtest-version }}
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        run: npm install mountebank@$MBTEST_VERSION --omit=dev
      - name: Show software versions
        run: |
          python3 --version
          node --version
          npm --version
          docker --version
          docker compose version
      - name: Run Tests
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        run: uv run pytest tests/unit/ tests/integration/

  test-py-versions:
    name: 'Test Python versions'
    needs: test
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        python: ['3.13', '3.12', '3.11', '3.10', 'pypy-3.10']
        node-version: ['24.x']
        mbtest-version: ['2.9']
        os: ['ubuntu-latest']
        experimental: [false]
        include:
          - python: '3.15.0-alpha - 3.15.0'
            experimental: true
            node-version: '24.x'
            mbtest-version: '2.9'
            os: 'ubuntu-latest'
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python }}
      - name: Install mbtest ${{ matrix.mbtest-version }}
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        run: npm install mountebank@$MBTEST_VERSION --omit=dev
      - name: Run Tests
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        run: uv run pytest tests/unit/ tests/integration/

  test-mb-versions:
    name: 'Test Mountebank versions'
    needs: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: ['3.14']
        node-version: ['16.x']
        mbtest-version: ['2.8', '2.0', '1.16']
        os: ['ubuntu-latest']
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python }}
      - name: Install mbtest ${{ matrix.mbtest-version }}
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        run: npm install mountebank@$MBTEST_VERSION --omit=dev
      - name: Run Tests
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        run: uv run pytest tests/unit/ tests/integration/

  test-oses:
    name: 'Test OSes'
    needs: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: ['3.14']
        node-version: ['24.x']
        mbtest-version: ['2.9']
        os: ['windows-latest', 'macos-latest']
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python }}
      - name: Install mbtest ${{ matrix.mbtest-version }}
        run: npm install mountebank@${{ matrix.mbtest-version }} --omit=dev
      - name: Run Tests
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        run: uv run pytest tests/unit/ tests/integration/

  coverage:
    name: 'Check coverage'
    needs: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: ['3.14']
        node-version: ['24.x']
        mbtest-version: ['2.9']
        os: ['ubuntu-latest']
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python }}
      - name: Install mbtest ${{ matrix.mbtest-version }}
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        run: npm install mountebank@$MBTEST_VERSION --omit=dev
      - name: Check coverage
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        run: uv run pytest --cov src/mbtest --cov-report=term-missing

  lint-etc:
    name: 'Linting and docs'
    needs: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: [ '3.14' ]
        os: [ 'ubuntu-latest' ]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python }}
      - name: Check format
        run: uv run ruff format . --check
      - name: Lint
        run: uv run ruff check .
      - name: Check types
        run: uv run pyright src/
      - name: Build docs
        run: uv run sphinx-build docs build_docs --color -W -bhtml
