name: Continuous Integration

on: [push, pull_request]

jobs:
  test:
    name: 'Test'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: ['3.9']
        node-version: ['15.x']
        mbtest-version: ['2.4']
        os: ['ubuntu-latest']

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Install mbtest ${{ matrix.mbtest-version }}
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        run: npm install mountebank@$MBTEST_VERSION --production
      - name: Run Tests
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        # Run tox using the version of Python in `PATH`
        run: tox -e py
        
  test-py-versions:
    name: 'Test Python versions'
    needs: test
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        python: ['3.8', '3.7', '3.6', 'pypy-3.6']
        node-version: ['15.x']
        mbtest-version: ['2.4']
        os: ['ubuntu-latest']
        experimental: [false]
        include:
          - python: '3.10.0-alpha - 3.10.0'
            experimental: true
            node-version: '15.x'
            mbtest-version: '2.4'
            os: 'ubuntu-latest'
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Install mbtest ${{ matrix.mbtest-version }}
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        run: npm install mountebank@$MBTEST_VERSION --production
      - name: Run Tests
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        # Run tox using the version of Python in `PATH`
        run: tox -e py
        
  test-mb-versions:
    name: 'Test Mountebank versions'
    needs: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: ['3.9']
        node-version: ['15.x']
        mbtest-version: ['2.3', '2.2', '2.1', '2.0', '1.16']
        os: ['ubuntu-latest']
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Install mbtest ${{ matrix.mbtest-version }}
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        run: npm install mountebank@$MBTEST_VERSION --production
      - name: Run Tests
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        # Run tox using the version of Python in `PATH`
        run: tox -e py
        
  test-oses:
    name: 'Test OSes'
    needs: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: ['3.9']
        node-version: ['15.x']
        mbtest-version: ['2.4']
        os: ['windows-latest', 'macos-latest']
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Install mbtest ${{ matrix.mbtest-version }}
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        run: npm install mountebank@$MBTEST_VERSION --production
      - name: Run Tests
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        # Run tox using the version of Python in `PATH`
        run: tox -e py

  coverage:
    name: 'Check coverage'
    needs: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: ['3.9']
        node-version: ['15.x']
        mbtest-version: ['2.4']
        os: ['ubuntu-latest']
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Install mbtest ${{ matrix.mbtest-version }}
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        run: npm install mountebank@$MBTEST_VERSION --production
      - name: Check coverage
        env:
          MBTEST_VERSION: ${{ matrix.mbtest-version }}
        run: tox -e coverage

  lint-etc:
    name: 'Linting etc.'
    needs: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: [ '3.9' ]
        os: [ 'ubuntu-latest' ]
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Check format
        run: tox -e check-format
      - name: Lint
        run: tox -e flake8
      - name: Security checks
        run: tox -e bandit,safety
      - name: Check types
        run: tox -e mypy
      - name: Build docs
        run: tox -e docs
